@import "tailwindcss";

@font-face {
  font-family: 'DreamerTM';
  src: url('/fonts/DreamerTM-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* remove static white background from body */
body {
  margin: 0;
  overflow: hidden;
  font-family: var(--font-sans);
}
